.navigation-clean {
  text-align:center;
  background:#878787;
  padding-top:.75rem;
  padding-bottom:.75rem;
  color:#333;
  border-radius:0;
  box-shadow:none;
  border:none;
  margin-bottom:0;
}

.ic_bank{
  height: 30px;
  width: 40px;
  display: inline-block;
  margin-right: 1rem;
}
.fixednav{
  position: fixed;
  z-index: 1002;
  top: 110px;
  left: 0;
  width: 100%;
  height:50px;
  padding: 10px;
  opacity: 1;
  background: #ffff;
  -webkit-transition: top 400ms ease 0s;
  -moz-transition: top 400ms ease 0s;
  -o-transition: top 400ms ease 0s;
  -ms-transition: top 400ms ease 0s;
  transition: top 400ms ease 0s;
  box-shadow: 0 0 20px #222;
  -webkit-box-shadow: 0 0 40px #222;
  -moz-box-shadow: 0 0 40px #222;
}
.blok{
  height:160px;
  width: 100%;
  color: black;
}

.fixed{
 position: fixed;
 opacity: 1;
 z-index: 1000;
 width: 100%;
 -webkit-transition: top 400ms ease 0s;
  -moz-transition: top 400ms ease 0s;
  -o-transition: top 400ms ease 0s;
  -ms-transition: top 400ms ease 0s;
  transition: top 400ms ease 0s;
  box-shadow: 0 0 40px #222;
  -webkit-box-shadow: 0 0 40px #222;
  -moz-box-shadow: 0 0 40px #222;
}
.slide{
  width: 100%;
  height: 500px;
}
.logouin{
  width: 80px;
  height: 80px;
  
}
.UPZHeader{
  margin-top: 5px;
  margin-left: 5px;
  size: 40px;
  color: #ffff;
  font-family: '.../assets/fonts/UnitedKingdom.otf';
}
.detailupzheader{
  margin-left: 10px;
}
.signup{
  margin-left: 1rem;
}
@media (min-width:768px) {
  .navigation-clean {
    padding-top:1rem;
    padding-bottom:1rem;
  }
}


.navigation-clean .navbar-brand {
  font-weight:bold;
  color:inherit;
}

.navigation-clean .navbar-brand:hover {
  color:cyan;
}

.navigation-clean .navbar-toggler {
  border-color:#ddd;
}

.navigation-clean .navbar-toggler:hover, .navigation-clean .navbar-toggler:focus {
  background:none;
}

.navigation-clean .navbar-toggler {
  color:#888;
}

.navigation-clean .navbar-collapse, .navigation-clean .form-inline {
  border-top-color:#ddd;
}

.navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
  color:#a8f009;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean.navbar .navbar-nav .nav-link {
  padding-left:18px;
  padding-right:18px;
}

.navigation-clean.navbar-light .navbar-nav .nav-link {
  color:#465765;
}

.navigation-clean.navbar-light .navbar-nav .nav-link:focus, .navigation-clean.navbar-light .navbar-nav .nav-link:hover {
  color:#37434d !important;
  background-color:transparent;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top:-5px;
  box-shadow:none;
  background-color:#fff;
  border-radius:2px;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
  line-height:2;
  color:#37434d;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
  background:#eee;
  color:cyan;
}

