.ver {
	margin-top: 0px;
	margin-bottom: 0px;
}
.more {
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	color: black;
}

.imgthumbnail{
	height: 300px;
	width: 300px;
}
.bgproker{
	background-color: #6497b1;
}

.imgthumbnailsearch{
	height: 150px;
	width: 150px;
}
.thumbproker{
	height: 100px;
	width: 150px;
}
.selectform{
	margin-top: 20px;
	margin-bottom: 20px;
}

.linkupzmd:hover{
 color: green;
 text-decoration: none;
 margin-left: 10px;
}
.linkupzmd{
	margin-left: 10px;
 color: white;
}
.titlenav {
	margin-left: -70px;
}

.imghoverpost:hover{
	background-color: black;
	opacity: 0.8;
}
.judulpostkecil:hover{
	text-decoration: none;
	color: green;
}
.more:hover {
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	color: green;
}
.morestruktur {
	text-align: center;
	font-size: 20px;
	color: white;
}
.morestruktur:hover {
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	color: cyan;
}

.allbody{
	position: relative;
}
.titleupz{
	font-size: 13px;
	margin-top: 1px;
	margin-bottom: 10px;
	color: red;
}

.titleprofil{
	font-style: bold;
	margin-bottom: 0px;
}
.aside{
	margin-left: 10px;
	background-color: #;

}
.borderleft1 .aside:hover{
	background-color:#ff9595;
	color: #ffff; 
}
.btnsidered:hover{
	background-color: red;
	color: #ffff;  
	border-style: 1px;
	border-color: #ff1d1d;
	color: white;
}

.btnsideblue:hover{
	background-color: blue;
	color: #ffff;  
	border-style: 1px;
	border-color: #ff1d1d;
	color: white;
}

.btnsideorange:hover{
	background-color: orange;
	color: #ffff;  
	border-style: 1px;
	border-color: #ff1d1d;
	color: white;
}

.btnsidegreen:hover{
	background-color: green;
	color: #ffff;  
	border-style: 1px;
	border-color: #ff1d1d;
	color: white;
}

.btnsidered{
	width: 100%;
	height: 30px;
	border-style: none;
	margin-left: -10px;
	text-align: left;
	border-radius: 5px;
	background-color: #ffff;
	list-style-type: none;
	color: black;
	opacity: 0.9;
}
.btnsideblue{
	width: 100%;
	height: 30px;
	border-style: none;
	margin-left: -10px;
	text-align: left;
	border-radius: 5px;
	background-color: #ffff;
	list-style-type: none;
	color: black;
	opacity: 0.9;
}

.btnsideorange{
	width: 100%;
	height: 30px;
	border-style: none;
	margin-left: -10px;
	text-align: left;
	border-radius: 5px;
	background-color: #ffff;
	list-style-type: none;
	color: black;
	opacity: 0.9;
}

.btnsidegreen{
	width: 100%;
	height: 30px;
	border-style: none;
	margin-left: -10px;
	text-align: left;
	border-radius: 5px;
	background-color: #ffff;
	list-style-type: none;
	color: black;
	opacity: 0.9;
}


.borderleft0{
  list-style-type: none;
  border-bottom: 4px solid red;
  background-color: #b0abab;
  margin-bottom: 2px;
  height: 40px;
  text-align: center;
  font-style: bold;
  font-size: 20px;
}
.borderleftblue{
  list-style-type: none;
  border-bottom: 4px solid blue;
  background-color: #b0abab;
  margin-bottom: 2px;
  height: 40px;
  text-align: center;
  font-style: bold;
  font-size: 20px;
}
.borderleftred{
  list-style-type: none;
  border-bottom: 4px solid red;
  background-color: #b0abab;
  margin-bottom: 2px;
  height: 40px;
  text-align: center;
  font-style: bold;
  font-size: 20px;
}
.borderleftorange{
  list-style-type: none;
  border-bottom: 4px solid orange;
  background-color: #b0abab;
  margin-bottom: 2px;
  height: 40px;
  text-align: center;
  font-style: bold;
  font-size: 20px;
}
.borderleftgreen{
  list-style-type: none;
  border-bottom: 4px solid green;
  background-color: #b0abab;
  margin-bottom: 2px;
  height: 40px;
  text-align: center;
  font-style: bold;
  font-size: 20px;
}

.borderleft1{
  list-style-type: none;
  background-color: #363636;
  margin-bottom: 2px;
  border-radius: 5px;
}

.borderside{
  margin-top: 60px;
  border: 0px solid red;
  border-radius: 0px;
  background-color: #0000;
  opacity: 1;
}
.bordersidepanduan{
  border: 0px solid red;
  border-radius: 0px;
  background-color: #0000;
  opacity: 1;
}

.itemicon{
	text-align: center;
	position: center;
	padding: 5px;
	height: 20px;
	width: 20px;
}

.bgartikel{
	border-radius: 10px;
	background-color: #eeeeee;
}
.bgartikelsmall{
	background-color: #eeeeee;
	margin-bottom: 20px;
}

.alignartikel{
	margin-left: 20px;
}

.itemcenter{
	text-align: center;
}

.textcontent{
	text-indent: 60px;
}

.imgartikel{
	background:url('../img/batik.jpg');
}

.borderleftgambar:hover{
  list-style-type: none;
  background-color: #a1ff33;
  margin-bottom: 2px;
}

.borderleftgambar{
  list-style-type: none;
  background-color: #363636;
  margin-bottom: 2px;
}

.borderleftartikel{
  list-style-type: none;
  border-bottom: 4px solid red;
  background-color: #a1ff33;
  margin-bottom: 2px;
  height: 40px;
  text-align: center;
  font-style: bold;
  font-size: 20px;
}

.borderleftgambarred:hover{
  list-style-type: none;
  background-color: red;
  margin-bottom: 2px;
}

.borderleftgambarred{
  list-style-type: none;
  background-color: #363636;
  margin-bottom: 2px;
}

.borderleftartikelred{
  list-style-type: none;
  border-bottom: 4px solid black;
  background-color: red;
  margin-bottom: 2px;
  height: 40px;
  text-align: center;
  font-style: bold;
  font-size: 20px;
}

.sidenews:hover {
	color: #a1ff33;
	text-decoration: none;
}

.sidenews{
	
	list-style-type: none;
	position: relative;
	color: white;
	font-size: 12px; 
}

.sideimg:hover{
	border-radius: 10px;
	background-color: #a1ff33;	
	padding: 5px;
	list-style-type: none;
	list-style: none;
	height:150px;
	width: 100%;
	opacity: 0.5;
}
.sideimg{
	border-radius: 10px;
	padding: 5px;
	list-style-type: none;
	list-style: none;
	height:100px;
	width: 100%;
	opacity: 0.8;
}

.sidetitle:hover {
	color: #000000;
	text-decoration: none;
}

.marginartikel{
	margin-left: 30px;
}

.marginside {
	margin-left: 0;
}

.bannerartikel{
	margin-top: 60px;
	width: 100%;
	height: 300px;
}
.sidetitle{
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 10px;
	font-size: 12px;
	color: white;

}

.btnactiveorange {
	width: 100%;
	height: 30px;
	border-style: none;
	margin-left: -10px;
	text-align: left;
	border-radius: 5px;
	background-color: orange;
	list-style-type: none;
	color: black;
	opacity: 0.9;
}

.btnactiveblue{
	width: 100%;
	height: 30px;
	border-style: none;
	margin-left: -10px;
	text-align: left;
	border-radius: 5px;
	background-color: blue;
	list-style-type: none;
	color: black;
	opacity: 0.9;
}

.btnactivered{
	width: 100%;
	height: 30px;
	border-style: none;
	margin-left: -10px;
	text-align: left;
	border-radius: 5px;
	background-color: red;
	list-style-type: none;
	color: white;
	opacity: 0.9;
}


.bannerStruktur {
	width: 100%;
	height: 1000px;
}
.nama{
	margin-top: 10px;
	font-size: 15px;
}

.bgdownload{
	width: 100%;
	height: 200px;
	background-color: blue;
}

.btnposition{
	text-align: center;
}

.textstyle {
	margin-top: 40px;
	text-align: center;
	color: white;
	font-family: '.../assets/fonts/UnitedKingdom.otf';
}

.inputlogin{
	width: 100px;
	height: 130px;
}

.inputlog:hover{
	border: 1px solid red;
	background-color: #515151;
	color: #00ecff;
}
.inputlog{
	border: 1px solid blue;
	color: white;
	background-color: #515151;
}

.formlogin{
	object-position: center;
	left: 50%;
	top: 50%;

}

.tengah{
position: absolute;
margin-left: 39%;
margin-top: 5%;
width: 100%;
height: 100px;
}

.btnlogin:hover{
	background-color: #00c521;
	height: 40px;
	width: 100%;
	border-radius: 5px;
	border-style: solid #00c521 ;
	color: white;
}
.btnlogin{
	background-color: #1b92cc;
	height: 40px;
	width: 100%;
	border-radius: 5px;
	border-style: solid #1b92cc ;
}

.bglogin{
	width: 100%;
	height:250px;
	background-color: black;
	opacity: 0.5;
}
.bgsignup{
	width: 100%;
	height:350px;
	background-color: black;
	opacity: 0.5;
}

.textlogin{
	margin-top: 10px;
	color: black;
}

.textlink:hover{
	color:#67ff08;
	text-decoration: none; 
}

.textlink{
	color: blue;
}

.dashleftuser{
	list-style-type: none;
	width: 100%;
	height: 200px;
	margin-top: 30px;
}


.ahref:hover {
	color: green;
	text-decoration: none;
}

.ahref {
	color: black;
	text-decoration: none;
	margin-left: 8px;
}
.ahrefjudul {
	color: green;
	text-decoration: none;
	text-align: center;
	margin-bottom: -3px;
}

.formtext{
	margin-top: 10px;
	width:100%;
	height:350px;
	border-radius: 5px;
}

.slct{
	margin-top: 30px;
	width: 200px;
	border-radius: 5px;
	color: black;
	background-color: #d0d0d0;
}

.slct:hover{
	margin-top: 30px;
	width: 200px;
	border-radius: 5px;
	color: #eff5ff;
	background-color: #7b9df6;
}

.card {
	width: 100%;
	background-color:#d0d0d0;
	border-radius: 5px;
	margin-bottom: 5px;
}

.cardfb {
	width: 100%;
	background-color:#d0d0d0;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: -22px;
}

.btnfeed{
	background-color: #1b92cc;
	height: 40px;
	width: 150px;
	border-radius: 5px;
	text-align: center;
	margin-top: 10px;
	margin-left: 200px;
	margin-right: 200px;
	color: white;
	border-style: solid #1b92cc ;
}
.btnfeed:hover{
	background-color: #51ff2a;
	color: black;
	height: 40px;
	width: 150px;
	border-radius: 5px;
	text-align: center;
	margin-top: 10px;
	border-style: solid #51ff2a ;
}
.bguser {
	width: 100%;
	background-color:#d0d0d0;
	border-radius: 5px;
	margin-bottom: 5px;
}

.dbuser {
	margin-top: 50px;
}

.inputdbuser{
	border-radius: 5px;
	background-color: #eeeeee; 
	color :black;
	width: 90%;
	margin-bottom: 5px;
	margin-left: 5%;
}

.inputdbuser:hover{
	border-radius: 5px;
	background-color: #ffde8f; 
	color :black;
	width: 90%;
	margin-bottom: 5px;
	margin-left: 5%;
}

.inputdbuserdate{
	width: 100px;
	border-radius: 5px;
	background-color: #eeeeee; 
	color :black;
	margin-bottom: 5px;
	margin-left: 5%;
}

.titledbuser {
	text-align: center;
	margin-top: 0px;
	margin-left: 5%;
}

.slct1{
	width: 130px;
	border-radius: 5px;
	color: black;
	background-color: #eeeeee;
	margin-left: 5%;
	margin-bottom: 5px;
}

.slct1:hover{
	width: 130px;
	border-radius: 5px;
	color: #eff5ff;
	margin-left: 5%;
	background-color: #7b9df6;
	margin-bottom: 5px;
}
.slct2{
	width: 140px;
	border-radius: 5px;
	color: black;
	background-color: #eeeeee;
	margin-left: 5%;
	margin-bottom: 5px;
}

.slct2:hover{
	width: 140px;
	border-radius: 5px;
	color: #eff5ff;
	margin-left: 5%;
	background-color: #7b9df6;
	margin-bottom: 5px;
}

.mutetext{
	font-size: 10px;
	margin-left: 25px;
	margin-top: -5px;
	margin-bottom: 5px;
}

.txtprofile {
	margin-left: 5%;
	border-radius: 5px;
	width: 90%;
	height: 100px;
	background-color: #eeeeee;
	margin-bottom: 20px;
}

/*.txtprofile:hover {
	margin-left: 5%;
	border-radius: 5px;
	width: 90%;
	height: 100px;
	background-color: #ffde8f;
	margin-bottom: 20px;
}*/

.btnprofil{
	background-color: #1b92cc;
	height: 40px;
	width: 150px;
	border-radius: 5px;
	text-align: center;
	margin-top: 10px;
	margin-left: 25px;
	margin-bottom: 30px;
	color: white;
	border-style: solid #1b92cc ;
}

.btndisable{
	background-color: #a9a9a9;
	height: 40px;
	width: 150px;
	border-radius: 5px;
	text-align: center;
	margin-top: 10px;
	margin-left: 25px;
	margin-bottom: 30px;
	color: white;
	border-style: solid #1b92cc ;
}

.btnprofilupdt{
	background-color: #1b92cc;
	height: 40px;
	width: 150px;
	border-radius: 5px;
	text-align: center;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 30px;
	color: white;
	border-style: solid #1b92cc ;
}

.btnprofil:hover{
	background-color: #51ff2a;
	height: 40px;
	width: 150px;
	border-radius: 5px;
	text-align: center;
	margin-top: 10px;
	margin-left: 25px;
	margin-bottom: 30px;
	color: black;
	border-style: solid #1b92cc ;
}
.btnprofilupdt:hover{
	background-color: #51ff2a;
	height: 40px;
	width: 150px;
	border-radius: 5px;
	text-align: center;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 30px;
	color: black;
	border-style: solid #1b92cc ;
}

.inputsetting{
	border-radius: 5px;
	background-color: #eeeeee; 
	color :black;
	margin-bottom: 5px;
	margin-left: 70px;
	margin-right: 70px;
	width: 400px;
}
.inputsetting:hover{
	border-radius: 5px;
	background-color: #ffde8f ; 
	color :black;
	margin-bottom: 5px;
	margin-left: 70px;
	margin-right: 70px;
	width: 400px;
}

.table{
	border: 1px solid black;
	margin-top: 35px;
	background-color: #ffffff;
}
.tdno{
	border: 1px solid black;
	text-align: center;
	border-bottom: 3px solid black;
	width: 5%;
	background-color:#d0d0d0;
}
.tdjenis{
	border: 1px solid black;
	text-align: center;
	border-bottom: 3px solid black;
	background-color:#d0d0d0;
	width: 35%;
}
.tdnominal{
	width: 10%
	border: 1px solid black;
	text-align: center;
	border-bottom: 3px solid black;
	background-color:#d0d0d0;
}
.tdwaktu{
	border: 1px solid black;
	text-align: center;
	border-bottom: 3px solid black;
	background-color:#d0d0d0;
	width: 15%;
}
.tdstatus{
	width: 25%
	border: 1px solid black;
	text-align: center;
	border-bottom: 3px solid black;
	background-color:#d0d0d0;
}
.tdbukti{
	width: 25%
	border: 1px solid black;
	text-align: center;
	border-bottom: 3px solid black;
	background-color:#d0d0d0;
}
.tdaction{
	width: 10%
	border: 1px solid black;
	text-align: center;
	border-bottom: 3px solid black;
	background-color:#d0d0d0;
}

.imgprofil{
	margin-left: 15%;
	margin-bottom: 1%;
	width: 80px;
	height: 100px;
	border: 1px solid black;
}
.btnupload {
	margin-left: 13%;
	margin-bottom: 2%;
	width: 100px;
	height: 30px;
	font-size: 50%;
	border-radius: 5px;
}
.btnupload:hover {
	margin-left: 13%;
	margin-bottom: 2%;
	width: 100px;
	height: 30px;
	font-size: 50%;
	border-radius: 5px;
	background-color: #bababa;
	color: black;
}

.titlezakatku{
	text-align: center;
	margin-top: 30px;
	color: #ffffff;
}
.hrzakatku{
	border: 2px solid white;
}

.cardfans{
	width: 255px;
	margin-bottom: 20px;
	margin-left: -15px;
}
.cardfansartikel{
	width: 255px;
	margin-bottom: 20px;
}

.cardfansuser{
	width: 215px;
	margin-bottom: 20px;
	margin-left: 25px;
}


.btnedit{
	margin-left: 25px;
	margin-bottom: 5px;
	border-radius: 5px;
}
.btnmargin{
	margin-left: 28px;
}

.judulberita{
	font-size: 20px;
}
.imgsmall{
	width: 150px;
	height: 100px;
	display: inline-block;
}
.smalldeskripsi{
	width: 150px;
}
.titlesmall{
	display: inline-block;
}
.disabled{
	border-radius: 5px;
	background-color: #ffde8f; 
	color :black;
	width: 90%;
	margin-bottom: 5px;
	margin-left: 5%;
}

/*Modal*/
.modal-title{
	color: black;
}
.head-shape{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	height: 65px;
	padding: 10px;
}
.bg-head{
	background-color: #999999;
}
.imgbukti{
	width: 100px;
	height: 80px;
}
.containerlog{
			position: fixed;
			max-width: 400px;
			top: 50%;
			left: 50%;
			margin-top: -120px;
			margin-left: -150px;
			padding: 16px;
			background: #dfe3ee;
			opacity: 0.9;
}

.labellogin{
	font-size: 20px;
}

/*Login Transition*/
